/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
}

.card-container {
  margin: 0 auto;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 450px;
  background-color: #fff;
}

.profile-details {
  background-color: #fff;
}

.profile-details img {
  margin-top: -50px;
  border-radius: 50%;
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.number {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}
